---
layout: page
title: {{ site.title }}
---
<p style="font-size: 12px; padding:5px;">
  <img src="{{ site.project_image }}" align="right" width="75" style="padding: 5px;" />
  {{ site.project_summary }}
</p>

<center><hr style="padding: 5px 5px 5px 5px; margin: 5px; width: 85%;" /></center>
<div class="row" style="vertical-align: top;" align="center">

  <div class="span3" align="left" style="float: none; margin: 0 auto; display: inline-block; height: 100%; vertical-align: top;">

    <p><strong><span style="font-size: 20px;">&#8620;</span>&nbsp;&nbsp;Top Links</strong></p>
    <ul class="featurelist">
      {% for org in site.data.organizations limit:4 %}
        <li><a href="{{ org.website }}">{{ org.name }}</a></li>
      {% endfor %}
    </ul>

  </div>
  <div class="span3" align="left" style="float: none; margin: 0 auto; display: inline-block; height: 100%; vertical-align: top;">
    <p><strong><span style="font-size: 20px;">&#8620;</span>&nbsp;&nbsp;Latest News</strong><a href="/blog.xml"><img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-rss-icon.png" width="15" style="padding-left: 5px;" /></a></p>
    <ul class="newslist">
      {% for post in site.posts limit:2 %}
        <li><a href="{{ post.source }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>

  </div>
  <div class="span3" align="left" style="float: none; margin: 0 auto; display: inline-block; height: 100%; vertical-align: top;">

    <script type="text/javascript">
      $url = 'http://apievangelist.com/blog.xml';
      var $listcount = 0;
      $.get($url, function (data) {
          $(data).find("item").each(function () {
              var el = $(this);
              $title = el.find("title").text();
              $link = el.find("link").text();
              if($listcount<2){
                $listitem = '<li><a href="' + $link + '">' + $title + '</a></li>';
                $('#rssNews').append($listitem);
                }
              $listcount++;
          });
      });
    </script>
    <p><strong><span style="font-size: 20px;">&#8620;</span>&nbsp;&nbsp;Latest Analysis</strong><a href="http://apievangelist.com/blog.xml"><img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-rss-icon.png" width="15" style="padding-left: 5px;" /></a></p>
    <ul class="newslist" id="rssNews"></ul>

  </div>
</div>
<center><hr style="padding: 5px; margin: 5px; width: 85%;" /></center>

<div class="row" align="center" style="">

  <div class="span5" style="float: none; margin: 0 auto; display: inline-block;" align="left">

    <ul class="newslist" style="list-style: none; font-size: 14px; padding: 0px; margin: 0px;">
      <li><a href="http://shipping.stack.network"><strong><span style="font-size: 20px;">&#8666;</span>&nbsp;&nbsp;Visit My Research On Shipping APIs</strong></a></li>
    </ul>

  </div>

  <div class="span5" style="float: none; margin: 0 auto; display: inline-block;" align="right">

    <ul class="newslist" style="list-style: none; font-size: 14px; padding: 0px; margin: 0px;">
      <li><a href="http://social.stack.network"><strong>Visit My Research On Social APIs&nbsp;&nbsp;<span style="font-size: 20px;">&#8667;</span></strong></a></li>
    </ul>

  </div>

</div>
