<div id="wrapper">
    
    
    <div id="header" class="col-full">
        <div id="logo"><a href="http://sms.apievangelist.com" title=""><img src="https://s3.amazonaws.com/kinlane-productions/api-evangelist/api-evangelist-sms-api.png" width="450" /></a></div>         
    </div>
    
    <div id="navigation" class="col-full">

        <ul id="main-nav" class="nav fl">
            <li class="{% if page.title == 'SMS APIs - Home' %}page_item current_page_item{% else %}page_item page-item-2{% endif %}"><a href="/index.html" title="Home" id="home-nav">Home</a></li>
            <li class="{% if page.title == 'SMS APIs' %}page_item current_page_item{% else %}page_item page-item-2{% endif %}"><a href="/companies.html" title="Companies" id="companies-nav">SMS APIs</a></li>            
            <li class="{% if page.title == 'SMS APIs - Building Blocks' %}page_item current_page_item{% else %}page_item page-item-2{% endif %}"><a href="/building-blocks.html" title="Building Blocks" id="building-blocks-nav">Building Blocks</a></li>
            <li class="{% if page.title == 'SMS APIs - White Paper' %}page_item current_page_item{% else %}page_item page-item-2{% endif %}"><a href="/white-paper.html" title="White Paper" id="white-paper-nav">White Paper</a></li>
            <li class="{% if page.title == 'Github' %}page_item current_page_item{% else %}page_item page-item-2{% endif %}"><a href="/github.html" title="Github" id="login-nav">Login w/ Github</a></li>
            <li class="{% if page.title == 'About' %}page_item current_page_item{% else %}page_item page-item-2{% endif %}"><a href="/about.html" title="About" id="about-nav">About this Site</a></li>
         </ul>
        
        <ul class="rss fr">
            
            <li class="sub-rss" style="padding-top: 5px;">         
                <a href="http://apievangelist.com" title="Home" style="color:#000;">Return to API Evangelist >></a>
            </li>          
        </ul>

    </div>
    
    <script type="text/javascript">
    	$oAuth_Token = getUrlVar('oAuth_Token');
    	
    	if($oAuth_Token!='')
    		{
    		console.log("HAS:" + $oAuth_Token); 
	
			document.getElementById("home-nav").href = document.getElementById("home-nav").href + '?oAuth_Token=' + $oAuth_Token;
			document.getElementById("companies-nav").href = document.getElementById("companies-nav").href + '?oAuth_Token=' + $oAuth_Token;		
			document.getElementById("building-blocks-nav").href = document.getElementById("building-blocks-nav").href + '?oAuth_Token=' + $oAuth_Token;		
			document.getElementById("white-paper-nav").href = document.getElementById("white-paper-nav").href + '?oAuth_Token=' + $oAuth_Token;		
			document.getElementById("login-nav").innerHTML = 'Logged In';			    	
			    		
    		}
    		
    </script>    

    <div id="content" class="col-full">

        <div id="main-sidebar-container">

            <!-- #main Starts -->
            <div id="main">      
                                
                <!-- Post Starts -->
                <div class="post-1 post type-post hentry category-api-marketplace category-uncategorized"> 